INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
.deps
src/gm
*.o
stamp-h1
po/*.mo
*.edj
