INSTALL
Makefile
Makefile.in
aclocal.m4
libtool
autom4te.cache
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
.deps
src/gm
*.o
*.la
*.lo
.libs
stamp-h1
po/*.mo
*.edj
debian/stamp-*
*.cdbs-orig
