Source: gm
Section: gui
Maintainer: Alexander V. Nikolaev <avn@daemon.hole.ru>
Uploaders: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>= 7), cdbs, automake, pkg-config, libecore-dev, libevas-dev, libedje-dev, libefreet-dev, libchoicebox-dev, liblanguage-dev, libxcb-atom1-dev, liblops-dev, libkeys-dev
XCS-Cross-Host-Build-Depends: debhelper (>= 7), cdbs, cdbs-embedded, automake, pkg-config
XCS-Cross-Build-Depends: libecore-dev, libevas-dev, libedje-dev, libefreet-dev, libchoicebox-dev, liblanguage-dev, libxcb-atom1-dev, liblops-dev, libkeys-dev
Priority: optional
Standards-Version: 3.8.3

Package: gm
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, etimetool, madshelf
Description: Global Menu

