#!/usr/bin/make -f

common-binary-post-install-arch::
	install -d -m 755  debian/tmp/etc/X11/Xsession.d
	install -m 755 debian/Xsession debian/tmp/etc/X11/Xsession.d/99gm
	install -m 755 debian/cur-user debian/tmp/etc/X11/Xsession.d/08cur-user
	mkdir -p debian/tmp/usr/share/keys/help
	install -m 644 gm_help.ini debian/tmp/usr/share/keys/help/gm.ini
	cp -a help debian/tmp/usr/share

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
DEB_CONFIGURE_EXTRA_FLAGS := --disable-rpath
DEB_CONFIGURE_SCRIPT := $(CURDIR)/$(DEB_SRCDIR)/autogen.sh
